{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
    {% if listing.active %}
    <ul>
        <li><h3><strong>{{ listing.item_name }}</strong></h3></li>
        <li>
            <a href="listing/{{ listing.id }}">
                <img src="{{ listing.photo_url }}" size="30%" alt="no image" 
                onerror="this.onerror=null;this.src='https://picsum.photos/600/200';">
            </a>
        </li>
        <li>Description: <i>{{ listing.desc }}</i></li>
        <li><strong>Starting Bid: ${{ listing.start_bid }}</strong></li>
        {% if listing.bids.last.user %}
            <li><strong>Highest bid: {{ listing.bids.last.user.username }}: ${{ listing.bids.last.price }}</strong></li>
        {% endif %}
        <li>Categories: {{ listing.categories }}</li>
    </ul>
    {% endif %}

    {% empty %}
    No active listings found.
    {% endfor %}

{% endblock %}